@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
   --primary-color: #5C9EAD   ;
   --primary-color-opacity: #4d564755;
  --secondary-color: #14453D ;
  --background-color: #698F3F;
  --heading-font: Barrio, system-ui;
  --paragraph-font: Helvetica, sans-serif, arial;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: var(--paragraph-font);
    /* font-size: 22px; */
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color-opacity);
    display: grid;
    grid-template-columns: 150px auto;
}

.icon,
.logo {
    width: 80px;
}

.logo {
    padding-top:10px;
}

.icon {
    padding-top: 10px;
}

#logo_link {
    justify-self: center;
    align-self: center;
}

#hero-img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: var(--background-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: var(--background-color);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 100px;
}

.home-title,
.subheading {
    color: var(--background-color);
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg h4 {
    font-size: 1.2em;
}

h4 {
    color: black;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
    grid-area: 4/1/9/11;

}

.book,
.join {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: underline;
}

.rivers-card,
.camping-card, 
.rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-area: 2/2/3/4;
}

.camping-card {
    grid-area: 2/5/3/7;
}

.rapids-card {
    grid-area: 2/8/3/10;
}

.card-img {
    border: 10px solid var(--secondary-color);
    transition: transform .5s;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img,
.mountains {
    width: 100%;
}

.mountains {
    grid-area: 5/2/8/7;
}

.msg {
    background-color: var(--primary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-area: 6/6/7/10;
}

.mountains,
.msg,
.card-img {
    box-shadow: 5px 5px 10px var(--primary-color);
}

.msg h2,
.msg p {
    color: var(--background-color);
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    background-color: var(--secondary-color);
    color: black;
}

footer h3 a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
   
    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    header {
        background-color: var(--primary-color);
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
        text-align: right;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg .subheading {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: var(--primary-color);
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}